.homeCardContainer{
    display:flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-inline: 2vw;
    background-color: #2E494F;
    padding: 20px;
}

.headerCards{
    display:flex;
    padding-top: 20px;
    padding-inline: 20px;
    flex-direction: row;
    margin-inline:2vw;
    justify-content: space-between; 
    margin-top:8vh;
    background-color: #2E494F;
}

.headerCards button{
    margin-inline: 0.3vw;
    text-align: center;
    margin-left: 10px;
}

.card img{
    height: 100%;
    background-image: url("https://static.wikia.nocookie.net/esstarwars/images/b/b0/Tatooine_TPM.png");
    background-repeat: no-repeat;
    background-size: 118%;
    background-position: 50%;
}

.headerCards button path{
    stroke: #862525
}

.navbar img{
    height: 60px;
}